fase2/03/node_modules/*
fase3/gymmanager/node_modules/*
fase4/launchstore/node_modules/*
fase4/launchstore/public/images/*
fase4/launchstore/yarn.lock
fase4/launchstore/Unititled.sql
fase4/launchstore/trigger.txt