{% extends "layout.njk" %}
{% import "parts/card.njk" as cards %}

{% block content %}
  {% call cards.render("", "order-error container") %}
    <div class="error-lotie"> </div>
    <h2>Desculpe</h2>
    <p>
        Nao podemos processar seu pedido
    </p>
    <a href="#" onclick="history.back()">Tente novamente</a>
  {% endcall%}
    <script src="js/lottie.js" type="text/javascript"></script>
    <script>
      const element = document.querySelector('.error-lotie')
      lottie.loadAnimation({
        container: element, // the dom element that will contain the animation
        renderer: 'svg',
        loop: false,
        autoplay: true,
        path: '/76705-error-animation.json' // the path to the animation json
      });
    </script>
{% endblock %}